<div class="center">
    <mat-card>
        <p class="title-text">
            Post-Details: </p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <p>
                <mat-form-field class="form-field">
                    <mat-label>Title</mat-label>
                    <input type=" text" matInput formControlName="title" required>
                    <mat-error *ngIf="title.invalid">
                        {{getErrorMessageTitle()}} </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="location">
                    <mat-label>Street</mat-label>
                    <input #street matInput formControlName="street" required>
                    <mat-error *ngIf="street.invalid">
                        {{getErrorMessageStreet()}} </mat-error>
                </mat-form-field>
                <mat-form-field class="location">
                    <mat-label>City</mat-label>
                    <input #city matInput formControlName="city" autocomplete="off" required>
                    <mat-error *ngIf="city.invalid">
                        {{getErrorMessageCity()}} </mat-error>
                </mat-form-field>
                <mat-form-field class="location">
                    <mat-label>Country</mat-label>
                    <input #country matInput formControlName="country" autocomplete="off" required>
                    <mat-error *ngIf="country.invalid">
                        {{getErrorMessageCountry()}} </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field class="form-field">
                    <mat-label>Details</mat-label>
                    <textarea #details formControlName="details" matInput></textarea>

                </mat-form-field>
            </p>
            <div style="width: 500px;margin: auto;">
                <h5 style="text-align: left;color: gray;">Parameters:</h5>
            </div>
            <p>
                <mat-form-field class="form-field">
                    <mat-label>Type of Service</mat-label>
                    <mat-select [formControl]="toppings" multiple>
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping.ServiceTypeName}}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>

                </mat-form-field>
            </p>
            <p class="p">

                <mat-label>Range of Age</mat-label>
                <span>
                    <mat-checkbox color="primary" (click)="changeRangeAge()"></mat-checkbox>
                </span>

                <ng5-slider *ngIf="rangeAge" [(value)]="value_age" [(highValue)]="highValue_age"
                    [options]="options_age"></ng5-slider>

            </p>
            <p class="p">

                <mat-label>Range of Hours</mat-label>
                <span>
                    <mat-checkbox color="primary" (click)="changeRangeHour()"></mat-checkbox>
                </span>
                <ng5-slider *ngIf="rangeHour" [(value)]="value_hours" [(highValue)]="highValue_hours"
                    [options]="options_hours">
                </ng5-slider>

            </p>

            <p>
                <mat-form-field class="form-field">
                    <mat-label> Gender</mat-label>
                    <mat-select #gender formControlName="gender">
                        <mat-option value="female">female</mat-option>
                        <mat-option value="male">male</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start date">
                        <input matEndDate formControlName="end" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>

                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date
                    </mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>
            </p>
            <button mat-button type="submit" color="primary">{{text_button[index_status]}} <mat-icon>
                    {{icons[index_status]}}
                </mat-icon></button>

        </form>
    </mat-card>
</div>