<mat-toolbar>
    <mat-grid-list cols="7" rowHeight="64px">
        <mat-grid-tile colspan="1"><img class="img-logo" src="../assets/img/logo.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="5">
<a routerLink="/upload-post">upload-post</a>
<a routerLink="/host-personal-area">host-personal-area</a>
<a routerLink="/traveler-request">traveler-request</a>
<a routerLink="/traveler-personal-area">traveler-personal-area</a>
<a routerLink="/edit-post">edit-post</a>

        </mat-grid-tile>
        <mat-grid-tile colspan="1">

            <button mat-flat-button routerLink="/login">Log-In</button>
            <button mat-flat-button color="primary" routerLink="/signup">Sign-Up</button>

        </mat-grid-tile>
    </mat-grid-list>

</mat-toolbar>


<router-outlet></router-outlet>