<div class="center">
    <mat-card>
        <p class="title-text">
            Sign up
        </p>
        <mat-tab-group dynamicHeight [(selectedIndex)]=selectedIndex>
            <mat-tab label="Host">
                <div class="example-small-box mat-elevation-z4">
                    <form [formGroup]="form_host" (ngSubmit)="onSubmit_host()">
                        <p>
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input type="text" matInput formControlName="name" required>
                                <mat-error *ngIf="name_host.invalid">
                                    {{getErrorMessageName_host()}} </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input #password matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                                    required>
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="password_host.invalid">
                                    {{getErrorMessagePassword_host()}} </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="email" required>
                                <mat-error *ngIf="email_host.invalid">
                                    {{getErrorMessageEmail_host()}} </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>BirthDate</mat-label>
                                <input matInput formControlName="birthDate" [matDatepicker]="picker" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="birthDate_host.invalid">
                                    {{getErrorMessageBirthDate_host()}} </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label> Gender</mat-label>
                                <mat-select #gender formControlName="gender" required>
                                    <mat-option value="female">female</mat-option>
                                    <mat-option value="male">male</mat-option>
                                </mat-select>
                                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                                <mat-error *ngIf="gender_host.invalid">
                                    {{getErrorMessageGender_host()}} </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>Phone</mat-label>
                                <input type="tel" matInput formControlName="phone" required>
                                <mat-error *ngIf="phone_host.invalid">
                                    {{getErrorMessagePhone_host()}} </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>Details</mat-label>
                                <textarea #details formControlName="details" matInput required></textarea>
                                <mat-error *ngIf="details_host.invalid">
                                    {{getErrorMessageDetails_host()}} </mat-error>
                            </mat-form-field>
                        </p>
                        <button type="submit" (click)="selectedIndex = 0" mat-button color="primary">Signup</button>
                    </form>
                </div>
            </mat-tab>

            <mat-tab label="Traveler">
                <div class="example-large-box mat-elevation-z4">
                    <form [formGroup]="form_traveler" (ngSubmit)="onSubmit_traveler()">
                        <p>
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input type=" text" matInput formControlName="name" required>
                                <mat-error *ngIf="name_traveler.invalid">
                                    {{getErrorMessageName_traveler()}} </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input #password matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                                    required>
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="password_traveler.invalid">
                                    {{getErrorMessagePassword_traveler()}} </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>BirthDate</mat-label>
                                <input matInput formControlName="birthDate" [matDatepicker]="picker_1" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="birthDate_traveler.invalid">
                                    {{getErrorMessageBirthDate_traveler()}} </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label> Gender</mat-label>
                                <mat-select #gender formControlName="gender" required>
                                    <mat-option value="female">female</mat-option>
                                    <mat-option value="male">male</mat-option>
                                </mat-select>
                                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                                <mat-error *ngIf="gender_traveler.invalid">
                                    {{getErrorMessageGender_traveler()}} </mat-error>
                            </mat-form-field>
                        </p>
                        <button mat-button (click)="selectedIndex = 0" type="submit" color="primary">Signup</button>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>